body, ul, li, h1, h2, h3, p{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.heading{
    position: relative;
    top: -50px;
    left: -100px;
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}
h2{
    display: inline-block;
}
.heading-s{
    font-size: 25px;
    font-weight: bold;
}
.moon-s:before{
    position: absolute;
    top: -60px;
    left: 28%;
    content: "";
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #ffe000;
    opacity: 0.8;
}
.moon-s{
    padding: 60px 0 100px 0;
}
.gray{
    margin-left: 10px;
    display: inline-block;
    color: rgb(224, 224, 224);
}
.profile,.skill,.work,.contact{
    position: relative;
}
.top-scroll{
    position: fixed;
    bottom: -100px;
    right: 0;
    z-index: 120;
    transition: all .3s linear;
}
.animation{
    bottom: -25px;
}
/* ヘッダー */
header{
    padding: 120px;
    position: relative;
    color: #fff;
    background-color: rgb(83, 46, 107);
}
.logo-white{
    display: inline-block;
}
.logo-white, .gray{
    position: relative;
    left: 40px;
}
.intro-box p{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,255,255,0.9);
}
.intro-box{
    position: relative;
    padding: 30px;
    padding-bottom: 20px;
    width: 70%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 30px;
    z-index: 26;
}
.intro-box .gray{
    font-size: 20px;
}
/* 雲の動き */
.bg-cloud{
    width: 100%;
    position: fixed;
    background-size: contain;
    opacity: 0.7;
}
.cloud1{
    height: 180px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNjN2I5ZDY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT7pm7I8L3RpdGxlPjxnIGlkPSLjg6zjgqTjg6Tjg7xfMiIgZGF0YS1uYW1lPSLjg6zjgqTjg6Tjg7wgMiI+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNDQzLjYzLDEwOC43NkgyMTcuNDdhMTAuNDIsMTAuNDIsMCwwLDEsMi4xNC0xOC40OXYwaDExNC41YzE1Ljc0LDAsMjguNjItMTIsMjguNjItMjYuNjJTMzQ5Ljg1LDM3LDMzNC4xMSwzN0gzNy45MUMyMi4xNywzNyw5LjI5LDQ5LDkuMjksNjMuNjJTMjIuMTcsOTAuMjQsMzcuOTEsOTAuMjRIMTU5LjY3QTEwLjM2LDEwLjM2LDAsMCwxLDE2MiwxMDguNzZIMTQ3LjQzYy0xNS43NCwwLTI4LjYyLDEyLTI4LjYyLDI2LjYyUzEzMS42OSwxNjIsMTQ3LjQzLDE2MmgyOTYuMmMxNS43NCwwLDI4LjYyLTEyLDI4LjYyLTI2LjYyUzQ1OS4zNywxMDguNzYsNDQzLjYzLDEwOC43NloiLz48L2c+PC9zdmc+");
    animation: bg-slider 40s linear infinite;
    z-index: 25;
}
@keyframes bg-slider {
    to { background-position: -800px 0; } 
}
.cloud2{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDIwMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNjN2I5ZDY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT7pm7I8L3RpdGxlPjxnIGlkPSLjg6zjgqTjg6Tjg7xfMiIgZGF0YS1uYW1lPSLjg6zjgqTjg6Tjg7wgMiI+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNOTcxLjM5LDEwNC41NEg3OTkuNTFhNy45Miw3LjkyLDAsMCwxLDEuNjItMTQuMDZ2MGg4N2MxMiwwLDIxLjc2LTkuMSwyMS43Ni0yMC4yM1M5MDAuMTIsNTAsODg4LjE1LDUwSDY2M2MtMTIsMC0yMS43NSw5LjEtMjEuNzUsMjAuMjNTNjUxLjA4LDkwLjQ2LDY2Myw5MC40Nmg5Mi41NGE3Ljg3LDcuODcsMCwwLDEsMS43NSwxNC4wOEg3NDYuMjhjLTEyLDAtMjEuNzYsOS4xLTIxLjc2LDIwLjIzUzczNC4zMSwxNDUsNzQ2LjI4LDE0NUg5NzEuMzljMTIsMCwyMS43NS05LjEsMjEuNzUtMjAuMjNTOTgzLjM1LDEwNC41NCw5NzEuMzksMTA0LjU0WiIvPjwvZz48L3N2Zz4=");
    height: 160px;
    position: fixed;
    top: 420px;
    animation: bg-slider 20s linear infinite;
    z-index: 30;
}
@keyframes bg-slider {
	from { background-position: 0 0; }
    to { background-position: -800px 0; } 
}
.heading,.heading-s,.profile-item,.skill-item,.contact-item,.thumbnail{
    position: relative;
    z-index: 40;
}
/* メニュー */
.top-moon{
    background-color: #ffe000;
    position: absolute;
    right: 160px;
    top: -100px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    z-index: 10;
}
.navi{
    position: fixed;
    right: 100px;
    z-index: 100;
}
.navi-responsive{
    display: none;
}
.bamboo{
    position: relative;
    top: 40px;
}
.logo-black{
    top: -20px;
    left: -20px;
    position: absolute;
    z-index: 110;
}
.menu{
    position: absolute;
    right: 10%;
    top: 220px;
}
.menu li{
    position: relative;
}
.menu a{
    text-align: center;
    color: rgb(2, 70, 0);
    font-size: 27px;
    font-weight: bold;
    display: block;
}
.menu a:hover{
    color: #fff;
}
.txtm{
    font-weight: bold;
    font-size: 17px;
}
/* 自己紹介 */
.profile{
    background-color: #fff;
}
.profile-box{
    display: flex;
}
.profile-img{
    position: relative;
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    background-color: rgb(200, 200, 200, 0.5)
}
.profile img{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 100px;
}
.profile-text{
    width: 55%;
    padding: 30px 0 0 40px;
}
.profile-text h3{
    font-size: 25px;
}
.profile-text p{
    padding: 20px 0;
}
/* skill */
.skill{
    background-color: rgb(200, 200, 200);
}
.skill-name li{
    display: inline-block;
}
.skill-name a{
    display: block;
    color: #000;
    font-weight: bold;
    padding: 20px 10px;
    border:solid #000;
    border-width: 4px 2px 0px 2px;
    font-size: 23px;
    border-radius: 10px 10px 0 0;
}
.skill-name li:first-of-type a{
    border-left: 4px solid #000;
}
.current{
    background-color: rgba(255,255,255,0.5);
}
.tab{
    background-color: rgba(255,255,255,0.5);
    width: 70%;
    padding: 30px;
    border: 4px solid #000;
    border-width: 4px 4px 4px 4px;
    border-radius: 0 10px 10px 10px;
}
.skillbar{
    height: 10px;
    width: 500px;
    border: 2px solid #000;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.skillbar-inner{
    height: 10px;
    width: 10px;
    background-color: rgb(136, 255, 0);
}
/* work */
.work{
    background-color: #fff;
}
.banner,.flyer,.lp{
    padding-bottom:20px;
    margin-bottom: 30px;
    border-bottom: 2px dashed rgb(165, 165, 165);
}
.banner-img,
.flyer-img,
.lp-img{
    display: grid;
    align-items: center;
    margin-bottom: 30px;
}
.banner-img,.flyer-img{
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto;
}
.lp-img{ 
    grid-template-columns: 25% 25%;
    grid-template-rows: auto;
}
.thumbnail{
    padding: 10px;
    margin: 5px;
    top: 0;
    display: block;
    overflow: hidden;
    position: relative;
}
.thumbnail img{
    width: auto;
    max-width: 100%;
}
.lp-img .thumbnail{
    height: 300px;
    overflow: hidden;
}
.banner-img .thumbnail{
    height: 150px;
    overflow: hidden;
}
figure{
    animation-name: fade-in;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards; 
    margin: 0;
    display: none;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
figure:target{
display: block;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 9999;
}
figure:target .overlay{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background: rgba(19, 0, 41, 0.7);
text-decoration: none;
color: inherit;
}
.comment{  
    padding-left: 30px;
    width: 400px;
}
.overlay p{
    color: #fff;
    margin-bottom: 15px;
}
.border{
    border-bottom: 2px dotted #fff;
    padding: 5px;
    margin-right: 20px;
}
.lp-img .figure-item{
    max-width: 50%;
    overflow-y: scroll;
    max-height: 90%;
}
.figure-item img{
    margin-bottom: 20px;
    max-width:100%;
    display: block;
}
.caption-banner{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    box-sizing: border-box;
}
.caption-banner p{
    font-size: 20px;
    position: absolute;
    top: 35%;
    text-align: center;
    width: 100%;
    height: 100%;
}
/* お問合せ */
.contact{
    background-color: rgba(200, 200, 200);
}
input,textarea{
    position: relative;
    left: -100px;
    font-family: serif;
    font-size: 15px;
    margin: 0 auto;
    width: 60%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline-color: #00cc0a;
}
input{
    height: 20px;
}
.btn-submit{
    color: #fff;
    font-size: 20px;
    background-color: #000;
    border: none;
    height: auto;
    width: 20%;
    margin-top: 20px;
}
.btn-submit:active{
    position: relative;
    outline: none;
    top: 3px;
}
/* copyright */
.copyright{
    margin-top: auto;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    background-color: #000;
}
.copyright p{
    position: relative;
    left: -100px;
}
